* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

html,
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

pre {
  margin: 0;
}

#root {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --tbk-white: #fcfdfe;
  --tbk-red: #d5006c;
  --tbk-red-dark: #cc0066;
  --tbk-light-red: #d5006c0d;
  --tbk-border: #e7ebf3;
  --tbk-grey: #828ea5;
  --tbk-grey-2: #707382;
  --tbk-grey-3: #8c939f;
  --tbk-grey-4: #f9fbfe;
  --tbk-grey-5: #a9b1bf;
  --tbk-grey-6: #e7ebf3;
  --tbk-black: #0e1520;
  --tbk-black-2: #2d3338;
  --tbk-black-3: #333333;
  --tbk-black-bg: #1f242e;
  --tbk-border-blue: #c9d0e4;
  --tbk-link: #009bdd;
  --tbk-table-header: rgba(213, 0, 108, 0.05);
  --tbk-danger-1: #ff8c82;
  --tbk-danger-2: #ffeee5;
  --tbk-danger-3: #ff4b4b;
  --tbk-danger-4: #b7253f;
  --tbk-success-1: #e8fcee;
  --tbk-success-2: #0a9285;
  --tbk-success-3: #7aefb6;
  --tbk-success-4: #1abc9c;
}
.border-t-gray3 {
  border-top: 1px solid var(--tbk-grey-3);
}

.border-r-gray5 {
  border-right: 1px solid var(--tbk-grey-5);
}

.border-t-blue {
  border-top: 0.5px solid var(--tbk-grey-5);
}

.tbk-header {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  background-color: var(--tbk-white);
  margin-bottom: 4px;
}

.tbk-header-button {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.25px;
  background: transparent;
  color: var(--tbk-red);
  border: 1px solid var(--tbk-red);
  height: 46px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.tbk-header-button:hover {
  background-color:rgba(213,0,108,0.05);
}

.tbk-header-status {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--tbk-grey-4);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: var(--tbk-black);
}

.tbk-header-status p {
  height: 100%;
  align-content: center;
}

.tbk-header-status span {
  height: 100%;
  align-content: center;
  font-weight: 400;
}

.tbk-logs {
  background-color: var(--tbk-black-bg);
  color: var(--tbk-grey-4);
  font-family: 'Roboto', monospace;
  padding: 1rem;
  border-radius: 9px;
  overflow-y: auto;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-inline: 1rem;
  margin-top: 1rem;
}

.tbk-log-detail {
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
  color: var(--tbk-grey-5);
  margin-bottom: 0.5rem;
}

.tbk-log-detail span {
  color: var(--tbk-grey-4);
  font-style: italic;
}
